# API UPEA - Ingeniería de Gas y Petroquímica
VITE_API_BASE_URL=https://apiadministrador.upea.bo/api/v2



VITE_API_TOKEN=a47614e26e4906cc243ae5c4f9c3de25076c4c18bbea65f31073fc92d242eb91



VITE_INSTITUCION_ID=42


VITE_UPLOADS_URL=https://archivosminio.upea.bo/archivospaginasnodean